#main-footer{
    width: 100%;
    background-image: url(../../../assets/images/footer.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

