#main-header{
    width: 100%;
    background-image: url(../../../assets/images/header1.jpg) ;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}