h1{
    color:red;
    background: yellow;
    border: 1px dashed black;
    border-radius: 20px;
    font-size: 50px;
    text-align: center;
}
#main-content{
    min-height: 800px;
    margin: auto;
   
}